<div class="fondo-err">
    <div class="contenedor-err">
        <div class="header-err">
            <h1>
                Error 404<br>
                <br>
                Página no encontrada
            </h1>
        </div>
        <div class="contenido-err">
            <div class="image-err">
                <img src="../../../assets/Candado.png" alt="Bloqueado">
                
            </div>
            <div class="conten-e">
                <p style="color:red">
                    {{message}}
                </p>
                <hr>
                <p>
                    Retorna a la dirección anterior
                </p>
            </div>
        </div>

    </div>

</div>
